*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px solid tomato;
  outline-offset: -2px; */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/* All */
.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 1px solid tomato; */
}

/* Header */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* outline: 1px solid tomato; */
}

.nav {
  display: inline-flex;
  align-items: center;
  /* outline: 1px solid tomato; */
}

.nav-list {
  display: inline-flex;
  justify-content: space-between;
  gap: 50px;
  margin-left: 93px;
  /* outline: 1px solid tomato; */
}

.header-list-contact {
  display: inline-flex;
  justify-content: center;
  gap: 30px;
  /* outline: 1px solid tomato; */
}

.header-contact {
  display: flex;
  gap: 10px;
  fill: #757575
}

.header-mail::before {
  content: url('../images/envelope.svg');

  margin-right: 10px;
  /* align-items: baseline; */

}

.header-tel::before {
  content: url('../images/smartphone.svg');
  margin-right: 10px;

}
/* Footer */
footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .logo {
  display: block;
  margin-bottom: 20px;
}

.footer-address-item {
  display: block;
  margin-bottom: 9px;
}

/* Body */

/* ___ index.html */
/* main Hero */
.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background: background: rgba(47, 48, 58, 0.4); */
}

.hero-container {
  width: 100%;
  max-width: 696px;
}

.hero-title {
  margin-bottom: 30px;
  
}
.hero-button {
  display: block;
  margin: 0 auto;
  width: 216px;
  height: 50px;
}

/* Main */
.section {
  padding-bottom: 94px;
}

/* main Features */
.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
  gap: 30px;
}

.features-subtitle {
  margin-bottom: 10px;
  margin-top: 30px;
  width: 270px;
}

.features-text {
  width: 270px;
}

.feature-icon {
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;

  display: flex;
    justify-content: center;
    align-items: center;
}

/* main Specialization */
.specialization-section {
  padding-bottom: 94px;
}

.specialization-title {
  margin-bottom: 50px;
}

.specialization-container {
  display: flex;
  justify-content: space-between;
}

/* main Team */
.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}

.team-title {
  margin-bottom: 50px;
}

.team-container {
  display: flex;
  justify-content: space-between;
}

.team-card {
  background: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-descr {
  padding: 30px 0;
}

.team-name {
  margin-bottom: 10px;
}
/* ********************************* */

.team-soc-list,
.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-item,
.footer-soc-item {
width: 44px;
height: 44px;
}

.team-soc-link,
.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-soc-link {
  background: rgba(255, 255, 255, 0.1);
}

.team-soc-icon {
  fill: #AFB1B8;
}

.footer-soc-icon {
  fill: white;
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon,
.footer-soc-link:hover .footer-soc-icon
.footer-soc-link:focus .footer-soc-icon {
  fill: white;
}

.team-soc-link:hover,
.team-soc-link:focus,
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #2196F3;
}
/* ********************************* */

/* clients-section */
.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  margin-bottom: 50px;
}

.clients-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.clients-inem {
width: 170px;
height: 92px;
}

.clients-link {
  width: 100%;
  height: 100%;
border: 1px solid #AFB1B8;
border-radius: 4px;

display: flex;
justify-content: center;
align-items: center;
}

.clients-icon {
  fill: #AFB1B8;
}

.clients-link:hover,
.clients-link:focus {
border-color: var(--accent-color);
}

.clients-link:hover .clients-icon, 
.clients-link:focus .clients-icon {
fill: var(--accent-color);
}


/* ___ portfolio.html */
/* main Portfolio */
.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-list {
  margin-bottom: 50px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.portfolio-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.portfolio-item:hover{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-descr {
  padding: 20px 24px;
  width: 370px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.portfolio-subtitle {
  margin-bottom: 4px;
}
